* {
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 221, 221);
}

h1 {
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    padding-top: 20px;
}

div {
    border-bottom: solid 1px black;
}
/*
@media screen and (min-width: 600px) {
    h1 {
        text-align:center;
        font-size: 40px;
    }
    div {
        display:flex;
        flex-direction: row;
    }
}

